body {
    background-color: rgb(0, 234, 255);
}
.verde {
    color: rgb(28, 176, 95);
}
.centrado {text-align: center;}

#wrapper {
    background: darkgray;
    background-color: darkgray;
}

.text-blue { color:blue;}

.text-red {color: red;}

.text-white {color: white;}

header p { text-align: right;}